<div class="container">

  <h1> What about: Elon Musk </h1>

  <img class="image" src="/images/elon.jpg" alt="Elon Musk">

  <p>He is the founder, CEO, and CTO of SpaceX; co-founder, CEO, and product architect of Tesla Inc.; co-founder and chairman of SolarCity; co-chairman of OpenAI; co-founder of Zip2; and founder of X.com, which merged with Confinity and took the name PayPal. As of February 2017, he has an estimated net worth of 13.9 billion, making him the 94th wealthiest person in the world. In December 2016, Musk was ranked 21st on Forbes list of The World's Most Powerful People.
    Musk has stated that the goals of SolarCity, Tesla, and SpaceX revolve around his vision to change the world and humanity. His goals include reducing global warming through sustainable energy production and consumption, and reducing the "risk of human extinction" by "making life multiplanetary"[23][24] by setting up a human colony on Mars.
    In addition to his primary business pursuits, he has also envisioned a high-speed transportation system known as the Hyperloop, and has proposed a VTOL supersonic jet aircraft with electric fan propulsion, known as the Musk electric jet.</p>

  <br>

  <p> Elon was born on <%= born %> </p>
  <p> Therefore, Elon is <%= remainingYears %> years old </p>
  <p> Furthermore, he is <%= remainingMonths %> months away from his birthday </p>
  <p> And also, he has lived <%= remainingDays %> days on Earth.</p>

</div>
