<div class="container">

  <h1> Welcome to  the Dynamic Dynamite Webapp </h1>

  <p> Today is <%= todaydate %> </p>

  <p> Log In: </p>

  <form class="login" action="/" method="post">
    <label for="name"> Your First and Last name: </label>
    <input id="name-input" type="text" name="namelastname">

    <label for="password"> Password: </label>
    <input id="password-input" type="text" name="password">

    <button type="submit">Log In</button>
  </form>

</div>
